
<div class="row">
    <div class="col">

    </div>
    <div class="col">
        <h1>ABOUT US</h1>
    </div>
    <div class="col">

    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col">
        <h2>Michael Ahlers</h2>
        <p>
            Michael Ahlers is attending the University of Cincinnati BSIT program. He is currently taking 3 of the 5 tracks
            and graduates in spring of 2024. He moved to the Cincinnati area in 2019 with his wife who is a veterenarian. Michael
            loves to travel with his wife in his free time and has a trip planned for Japan when he graduates. He also enjoys movies,
            anime, video games, and board games. One of his favorite hobbies is to do escape chambers with his friends.
        </p>
    </div>
    <div class="col">
        <h2>Tyler McCall</h2>
        <p>
            My name is Tyler McCall, and this is my final project for Web Server Application Development! I am a 21 year old
            Junior that is majoring in game design, cybersecurity, and application development. I was born in North Carolina
            at Camp Lejeune Hospital in 2001, but I have moved several times since then, and ended up in New Richmond, Ohio.
            I love computers, video games, sports, and music. I am a huge fan of the Cincinnati Bengals and the Boston Celtics.
        </p>
    </div>
</div>
